@model dynamic

<h2>Hello, welcome to lead scraper.</h2>

<p>Lead Scraper works by allowing you to create scraping jobs which signal our team of robots to do some work.  
Results aren't available instantly and may take some time depending on the search and how busy the robots are.</p>

<p>To give you an example if you searched for bars in New York City you'd have about 2000 results.  Then for each of those 2000 results we have to go out and get useful details 
about the business like email and website.  Then we have to go out and get more information again like scraping the companies website for contact information.  
One scraping job can trigger our robots to visit the equivelant of 6000+ websites.  Hopefully you can see how this may take a while.  ;)
</p>  

<p>
    

</p>
