@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="hero-unit">
        <h1>Lead Scraper makes idea extraction and customer validation easier for startups.</h1>
    <p>We grab business information from Yellow pages and then perform additional scraping to get you contact information about the industries you search for. </p>
    <p>Currently in alpha mode!</p>
        <p><a class="btn btn-primary btn-large" href="@Url.Action("Register", "Account")">Register »</a> or <a class="btn btn-primary btn-large" href="@Url.Action("Login", "Account")">Login »</a></p>
      </div>